# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Environments
venv/
.env

# OS
.DS_Store
Thumbs.db

# PyInstaller build artifacts
build/
dist/

# PyInstaller spec file (optional, ignore if you don't track it)
*.spec

# Measurement logs
data/